body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.section-A {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-A img {
  border-radius: 50%;
  width: 30vh;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 50px;
}

.footer {
  /* height: 20vh; */
  background-color: rgb(224, 224, 224);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-B {
  /* padding: 20px; */
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
  max-width: 1200px;
  margin: 0 auto;
}
